.banner {
    height: 640px;
    background: linear-gradient(180deg, #F4EBFF 0%, #FFF 77.5%);
}

.banner-title-container {
    margin-bottom: 10em;
    margin-right: 10%;
    padding-top: 5%;
}

.banner-logo {
    font-size: 4.3rem;
    font-weight: bold;
    color: #8220ff;
}

.banner-img {
    height: 20em;
    flex-shrink: 0;
    margin-left: 10%;
    margin-top: 50%;
}

.banner-button {
    width: 100%;
    height: 120px;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #FFF;
}

.banner-button:hover {
    box-shadow: 0 0 10px #8220ff;
    color: #8220ff;
    transition: 0.2s;
}

.banner-button > .title {
    margin-right: 20px;   
}

@media screen and (max-width: 1080px){
    .banner-logo {
        font-size: 3rem;
    }
    .banner-img {
        height: 15em;
    }
}
@media screen and (max-width:740px) {
	.banner-title-container {
        margin-bottom: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-img {
        display: none;
    }

    .banner-button {
        height: 70px;
    }

    .banner-button > .title {
        font-size: 1rem;
    }

}

