.nav{
    height: 40px;
    /*width: 750px;*/
    overflow: hidden;
    transition: 0.25s ease-in-out;
}

.nav:hover{
    height: 160px;
    cursor: pointer;
}

.nav .navContainer{
    height: 40px;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}
.nav .navContainer .active{
    background-color: #ffffff;
}
.nav .navContainer .none {
    background-color: none;
}

.nav .navContainer li{
    width: 200px;
    height: 100%;
    list-style-type: none;
    font-size: 14px;
    color: rgb(3, 51, 90);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .navContainer li p{
    margin: 0;
}
.nav .detailMenu{
    display: flex;
    overflow: hidden;
}
.nav .detailMenu ul{
    width: 200px;
    margin: 0;
    justify-content: flex-start;
    padding: 0;
}

.nav .detailMenu ul li {
    text-align: center;
    list-style-type: none;
    margin-bottom: 10px;
    color: rgb(7, 7, 105);
    font-weight: 500;
}
.nav .detailMenu ul li:hover {
    cursor: pointer;
    background-color: rgb(198, 198, 241);
}