/*.footer.wrap{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex: 1;*/
/*}*/
footer{
    height: 80px;
    position: relative;
    transform: translateY(0%);
    border-top: 1px solid #248efe;
    z-index: 1000;

    display: flex;
    /*align-items: center;이미지 가운데 정렬하는 */
    /*justify-content: center;*/
    margin-top: auto;
    background-color: rgb(214, 214, 214);
}