.form-container {
    width: 1040px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px 30px;
    background-color: #fff;
}

.form-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: #CFCFCF solid 1px;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.email-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-label-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group > input {
    padding: 5px;
    height: 2.7rem;
    border: 1px solid #CFCFCF;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.form-group > input:focus {
    border: #8220FF 1px solid;
    outline: none;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: #CFCFCF solid 1px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-buttons {
    margin-left: 10px;
}

.submit-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.submit-button {
    width: 150px;
    height: 40px;
    background-color: #8220FF;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
}

.submit-button:disabled {
    background-color: #CFCFCF;
}
